body {
    background-color: #4E5242;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div { 
    background-color: #F2F2F2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;  
    padding: 20px;
    margin: 50px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1; /* Ajustar z-index para no interferir con SweetAlert2 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative; /* Asegurar que el z-index funcione correctamente */
}

div form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form ul li {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para asegurar que el modal de SweetAlert2 esté por encima de otros elementos */
.swal2-container {
    z-index: 9999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}